{% include 'header.html' %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '647173522059867',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <h1>RoommateHelpr</h1>
    <hr />
    <fb:login-button scope="public_profile,email" onlogin="">
    </fb:login-button>

{% include 'footer.html' %}
