{% include 'header.html' %}  

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">RoomHelpr</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      <li>
        <!-- Parse.User.logOut(); -->
        <button class="login" onclick="logInUser()">LOGIN</button>
      </li>
    </ul>
  </section>
</nav>
<div class="row">
  <div class="large-2 columns">
  <h2>Rooms</h2>
  </div>
  <div class="large-10 columns">
  <h3 id="currroomtext">...</h3>
  </div>
</div>

<div class="row">
  <div class="large-2 columns" style="border-right: 1px solid #eee">
    <input type="button" class="small button" value="Add Room" data-reveal-id="roomModal">
  </div>
  <div class="large-4 columns">
    <select id="roomlist"></select>
  </div>
  <div class="large-2 columns">
    <input type="button" class="small button" id="setroombtn" value="Change Room">
  </div>
  <div class="large-4 columns"></div>

<div id="roomModal" class="reveal-modal" data-reveal>
  <h1>Create a Room</h1>
  <input id="room_name" type="text" placeholder="">
  <a class="close-reveal-modal">&#215;</a>
  <input type="button" class="small button" value="Enter" onclick=create_new_room()>
</div>

</div>
<div class="row">
  <div class="large-12 columns">
    <h2>Roommates</h2>
    <ul class="roommatecontainer">
    </ul>
    <input type="button" class="small button" onClick="get_friends()" data-reveal-id="friendModal" value="Add Roommate">
    <div id="friendModal" class="reveal-modal" data-reveal>
      <ul class="friendcontainer"></ul>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    
  </div>
  <div class="large-12 columns">
    <h2>Bulletins</h2>
    <table>
      <thead>
        <th width="100px">Author</th>
        <th>Post</th>
        <th>Date</th>
      </thead>
      <tbody class="boardcontainer">
        <tr>
        </tr>
      </tbody>
    </table>
	<form id="postForm">
    <textarea id="bulletintext" placeholder="New Bulletin Post"></textarea>
    <input class="small button" id="bulletinpost" value="Make Post" type="button">
    <input class="small button" id="anonpost" value="Make Anonymous Post" type="button">
	</form>
  </div>
  <div class="small-6 columns">
    <h2>Bills to Pay</h2>
    <table>
      <thead>
        <th>Bill</th>
        <th>Share of Bill</th>
        <th>Due Date</th>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <form id="billForm">
    <input type="text" placeholder="Type of Bill (e.g. electric bill)" id="billType">
    <input type="text" placeholder="Dollar Value of Bill (e.g. 123.45)" id="billAmount">
    <input type="button" class="small button" value="Split Bill!" onClick="splitBill()">
    </form>
  </div>
  <div class="small-6 columns">
    <h2>Chores to Do</h2>
    <table>
      <thead>
        <th>Chore</th>
        <th>Due Date</th>
      </thead>
      <tbody class="chorecontainer">

      </tbody>
    </table>
	<form id="choreForm">
    <label>Assign Task To:</label><select class="friendlist"></select>
    <label>Due Date:</label><input type="datetime-local" id="due_date">
	<input type="text" placeholder="Type of Chore" id="chore">
    <input class="small button" type="button" value="Assign Chore" onClick="addChore()">
	</form>
  </div>


</div>
{% include 'footer.html' %}
